* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: url("./img/img/front_last.jpg") no-repeat center center / cover;
    text-transform: uppercase;
    padding-top: 50px;
}

.isBgBlured {
    backdrop-filter: blur(10px);
    height: 700px;
}

.isBlured {
    filter: blur(10px)
}

.last{
    text-align: center;
}

.last h2 {
    font-size: 20px;
    display: inline;
	text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
	padding: 0 10px 0 0;
	color: azure;
}
.active__blur img {
    height: 250px;
    max-width: 300px;
 }

.item_left img {
    height: 250px;
    width: 250px;
}

.last ul video {
    height: 320px;
    max-width: 350px;
    margin-top: -70px;
}

.last ul {
    display: flex;
    max-width: 900px;
    margin: 105px auto;
    justify-content: space-between;
}

.last li:nth-child(1):hover {
    transform: scale(1.25);
    transition: transform 1s;
}

.last li:nth-child(2):hover {
    transform: scale(1.25);
    transition: transform 1s;
}

.last li:nth-child(3):hover {
    transform: scale(1.25);
    transition: transform 1s;
    
}
 
.contact {
    color: azure;
    max-width: 200px;
    padding-top: 15px;
    margin-left: auto;
    font-size: 20px;
    text-transform: none;
    cursor: pointer;
    background-color: transparent;
    border:none;
    text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
}

.contact img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.contact_1 {
    display: flex;
}

.contact h5 {
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.contact h5:after {
    display: block;
	position: absolute;
    height: 2px;
    background-color: white;
    content: "";
}
.contact h5:hover:after,
.contact h5:focus:after {
	width: 100%;
}

@media (max-width: 1400px)  {
    .frame ul {
        margin: 0 100px;
    }
}
@media (max-width: 1200px) {
    .isBgBlured {
        height: 100%;
    }
    .last {
        padding-top: 25px;
    }
    .last ul {
        flex-direction: column;
        margin: 20px 50px;
    }
    .last ul img {
        height: 100px;
        width: 150px;
        padding: 10px 0;
     }
     .last ul video {
        height: 100px;
        width: 150px;
        margin: 10px 0 0;
     }
}